.two-block-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width:var(--page-width);
  margin:auto;
  padding:0 2rem;
}

.block-content {
    flex-basis: 47%;
    padding: 20px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    margin: 20px auto;
    border-radius: 25px;
  max-width: 750px;
  /* aspect-ratio:3/2; */
}


.block-image {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #707070;
    aspect-ratio:3/2;
  object-fit:cover;
}

.two-block-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid;
  margin-top: 10px;
  font-weight:600;
}

@media (max-width: 768px) {
  .block-content {
    flex-basis: 90%;
    margin: 10px auto;
  }
  .block-image{
    height: 25rem;
  }
  .two-block-section{
    padding: 0 0.5rem !important;
  }
}
.two-block-heading{
  text-transform: uppercase;
  font-size: 4rem;
}
